html {
      height: 100%;
    }
body {
      padding: 0;
      position: relative;
      margin: 0;
      height: 100%;

    }

h1{
	margin: 5px 0px 0px 10px;
	cursor: default;
}

.dot{
  height: 17px;
  width: 17px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  font-size:16px;
  color:black;
}

.dot:hover{
background-color: white;
transition: 1.5s;

}

#chbox{
	float: left;
}

span{
	text-align: center;
	cursor: default;

}
nav{
	
	background: #353839;
	overflow: hidden;
	color: white;
}

ul{
	position:relative;
	float: right;
	list-style-type: none;



}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid white;
	transition:  0.6s ease;
	background-color: #353839;
	margin: 15px 10px 0px 0px;
	bottom: 5px;
}

ul li a:hover{
	background-color: white;
	color: black;
	border-color:white;
    }

#submitbtn{
    float: left;
	color: white;
	padding: 5px 20px;
	border: 1px solid white;
	transition:  0.6s ease;
	background-color: #353839;
	margin: 10px;
}

#submitbtn:hover{
	background-color: white;
	color: black;
	border-color:white;

}

#submitbtn2{
    float: left;
	color: black;
	padding: 5px 20px;
	border: 1px solid black;
	transition:  0.6s ease;
	background-color: white;
	margin: 10px;
}

#submitbtn2:hover{
	background-color: #353839;
	color: white;
}



table{

	border: 1px solid black;
    display: inline-block;
	vertical-align: top;
	width: 210px;
	height : 120px;
	padding: 2px;
	margin: 5px 5px 5px 25px;
}

td{
	text-align: center;
	width: 210px;
	font-size: 15px;

}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 270px;
  line-height: 26px;
  margin: 10px 0px 10px 10px;
  font-size: 18px;
}

select{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 270px;
  line-height: 26px;
  margin: 5px 0px 10px 10px;
  font-size: 16px;

}

#width{
	margin:5px 0px 5px 10px;
}


p{
	margin-left: 10px;
}